@import "../../node_modules/bootstrap/scss/_variables";
@import "./variables";

.actor-portrait {
  border: 1px solid black;
  border-radius: $border-radius;
  text-align: center;
  display: block;
  background: $media-background;
  overflow: hidden;

  i, img {
    font-size: 120px;
  }

  &.actor-portrait-small {
    height: 130px;
    width: 130px;
    i {
      font-size: 60px;
    }
  }
}
