
h1 {
  margin-bottom: 30px;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: $link-color;
  text-decoration: underline;
  cursor: pointer;
}

form {
  .row {
    margin-bottom: 18px;
  }
}

.form-control {
  &.ng-invalid.ng-touched {
    border-color: red;
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(253, 0, 0, 0.25);
    }
  }
}

.sb-card-list{

  .card {
    margin-bottom: 20px;

    &.clickable {
      cursor: pointer;
      &:hover {
        border: #333 1px solid;
      }
    }

    span {
      font-size: 20px;
    }

    .card-buttons {
      text-align: right;
    }
  }
}

.btn-icon {
  i {
    display: inline-block;
    padding-right: 5px;
  }
}
