<div class="actor-picker">

  <p-dialog [(visible)]="dialogOpened" [modal]="true" [style]="{width: '600px'}">
    <ng-template pTemplate="header" class="">
    </ng-template>

    <p-tabView>
      <p-tabPanel [header]="'actorPicker.tabs.character' | translate">
        <p-autoComplete [suggestions]="filteredCharacters"
                        [(ngModel)]="selectedCharacter"
                        [placeholder]="'actorPicker.characters.autoComplete.placeholder' | translate"
                        [baseZIndex]="900"
                        [delay]="100"
                        appendTo="body"
                        (completeMethod)="filterCharacters($event)"
                        (onSelect)="characterPicked($event)"
                        field="name"
                        [dropdown]="true"
                        #characterAutoComplete>
          <ng-template let-item pTemplate="item">
            <span>{{item.name}}</span>
          </ng-template>
        </p-autoComplete>
        <div class="create-character">
          <a *ngIf="lastCharacterInputValue"
             (click)="createNewCharacter()"
             translate [translateParams]="{name: lastCharacterInputValue}" class="">
            actorPicker.characters.new.action
          </a>
        </div>
      </p-tabPanel>
      <p-tabPanel [header]="'actorPicker.tabs.place' | translate">
        Content 2
      </p-tabPanel>
    </p-tabView>

    <ng-template pTemplate="footer">
      <button class="btn btn-secondary"
              type="button"
              (click)="close()">
        <i class="bi bi-x"></i>
        <span translate>common.button.close</span>
      </button>
    </ng-template>
  </p-dialog>

</div>

