<p-dialog [(visible)]="actor" [modal]="true" [header]="actor?.name ?? ''" [style]="{width: '600px'}">
  <div class="actor-dialog-content" *ngIf="actor">
    <div class="row">
      <div class="col-md-4">
        <app-media-renderer [mediaId]="actor.portraitMediaId" class="actor-portrait actor-portrait-small"
                            imageClass="card-img">
          <i class="bi bi-person-fill no-portrait"></i>
        </app-media-renderer>
      </div>
      <div class="col-md-8">
        <app-markdown-view [markdown]="actor.descriptionMarkdown"></app-markdown-view>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button class="btn btn-secondary btn-icon"
            type="button"
            (click)="edit()">
      <i class="bi bi-pencil"></i>
      <span translate>common.button.edit</span>
    </button>
    <button class="btn btn-secondary"
            type="button"
            (click)="close()">
      <i class="bi bi-x"></i>
      <span translate>common.button.close</span>
    </button>
  </ng-template>
</p-dialog>
