<div class="container-fluid" [hidden]="!ready">
  <div class="row flex-nowrap">

    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <app-main-sidebar></app-main-sidebar>
    </div>
    <div class="col py-3">
      <div class="no-login container" *ngIf="!loggedIn">
        <div class="alert alert-primary" role="alert">
          <span data-translate="application.login.loginRequired"></span>
          <div class="login-provider google">
            <button type="button" class="btn btn-primary"
                    (click)="login()">
              <i class="bi bi-google"></i>
              <span data-translate="application.login.google.button"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="loggedIn">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
