<div class="scenarios">
  <h1>
    <app-current-campaign-name></app-current-campaign-name>
    -
    <span translate>scenarios.title</span>
  </h1>

  <div class="scenarios-buttons mb-4">
    <button class="btn btn-primary"
            (click)="createScenario()">
      <i class="bi bi-plus"></i>
      <span translate>scenarios.new</span>
    </button>
  </div>

  <div class="scenarios-list">
    <div class="campaigns-list sb-card-list" *ngIf="scenarios.length > 0">

      <div class="card" [class]="{expanded: sce.expanded}" *ngFor="let sce of scenarios">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9"><h5>{{sce.scenario.title}}</h5></div>
            <div class="col-md-3 card-buttons">
              <div class="btn-group btn-group-sm">
                <button class="btn btn-primary" (click)="sce.expanded = true" *ngIf="!sce.expanded">
                  <i class="bi bi-plus-square"></i>
                </button>
                <button class="btn btn-primary" (click)="sce.expanded = false" *ngIf="sce.expanded">
                  <i class="bi bi-dash-square"></i>
                </button>
                <button class="btn btn-secondary" (click)="editScenario(sce.scenario)">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </div>
            </div>
          </div>

          <a *ngIf="!sce.expanded" (click)="sce.expanded = true" translate>scenarios.list.expandLink</a>

          <div *ngIf="sce.expanded" class="scenario-content">
            <app-markdown-view [markdown]="sce.scenario.markdown"></app-markdown-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
