<div class="scenarios">
  <h1>
    <app-current-campaign-name></app-current-campaign-name>
    -
    <span translate>scenarios.title</span>
    <span *ngIf="scenario.title">- {{scenario.title}}</span>
  </h1>

  <form class="edit-form" [formGroup]="scenarioForm">
    <div class="row">
      <div class="col-md-6">
        <label for="scenario-title" class="form-label" translate>scenario.edit.form.title</label>
        <input type="email" class="form-control" id="scenario-title">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="form-label" translate>scenario.edit.form.content</label>
        <app-markdown-editor [markdown]="'## 1'" id="scenario-markdown"></app-markdown-editor>
      </div>
    </div>
  </form>
</div>
