<div class="scenarios">
  <h1>
    <app-current-campaign-name></app-current-campaign-name>
    -
    <span translate>scenarios.title</span>
    <span *ngIf="scenario.title">- {{scenario.title}}</span>
  </h1>

  <form class="edit-form" [formGroup]="scenarioForm" (submit)="save()">
    <div class="row">
      <div class="col-md-6">
        <label for="scenario-title" class="form-label" translate>scenario.edit.form.title</label>
        <input type="email" class="form-control" id="scenario-title" formControlName="title">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="form-label" translate>scenario.edit.form.content</label>
        <app-markdown-editor [(markdown)]="scenario.markdown" id="scenario-markdown"></app-markdown-editor>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
          <button class="btn btn-secondary"
                  type="button"
                  (click)="close()">
            <i class="bi bi-x"></i>
            <span translate>common.button.cancel</span>
          </button>
      </div>
      <div class="col-md-6 text-end">
          <button class="btn btn-icon btn-primary"
                  type="submit"
                  [disabled]="scenarioForm.invalid">
            <i class="bi bi-save"></i>
            <span translate>common.button.save</span>
          </button>
      </div>
    </div>
  </form>
</div>
