@use "sass:math";
@import "../../../styles/variables";

.card.media-item {

  float: left;
  margin-right: 9px;
  margin-bottom: 9px;

  background: $media-background;

  app-media-renderer {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }

  .card-img-container {
    $width: 220px;
    width: $width;
    height: math.div($width, 16) * 9;
    overflow: hidden;
  }

  app-media-picker {
    display: inline-block;
  }
}
