.nav-link {
  color: white;
  padding-left: 5px;
  display: block;
}

ul, div {
  width: 100%;
}

.nav-item {
  width: 100%;
}

hr {
  box-sizing: border-box;
  margin: 1rem 0;
  opacity: .25;
  height: 1px;
  width: 100%;
}

h5 {
  font-size: 18px;
  text-align: center;
}

.user-profile-menu {
  margin-bottom: 18px;
}
