<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
  <a [routerLink]="'campaigns'"
     class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-5 d-none d-sm-inline" translate>application.name</span>
  </a>
  <ul class="nav nav-pills flex-column mb-0 align-items-center align-items-sm-start" id="menu">
    <li class="nav-item">
      <a [routerLink]="'campaigns'" [routerLinkActive]="'active'" class="nav-link align-middle">
        <i class="fs-4 bi bi-house"></i>
        <span class="ms-1 d-none d-sm-inline" translate>nav.campaigns</span>
      </a>
    </li>
  </ul>
  <div *ngIf="selectedCampaign" class="campaign-items">
    <hr>
    <h5>{{selectedCampaign.name}}</h5>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu-campaign">
      <li class="nav-item">
        <a [routerLink]="'scenarios'" [routerLinkActive]="'active'" class="nav-link align-middle">
          <i class="fs-4 bi bi-journal-text"></i>
          <span class="ms-1 d-none d-sm-inline" translate>nav.scenarios</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'persons'" [routerLinkActive]="'active'" class="nav-link align-middle">
          <i class="fs-4 bi bi-people"></i>
          <span class="ms-1 d-none d-sm-inline" translate>nav.persons</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="user-profile-menu mt-auto" *ngIf="user">
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
         data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fs-4 bi bi-person-fill"></i>
        <strong>{{user.firstName}}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#" (click)="logout()" translate>nav.logout</a></li>
      </ul>
    </div>
  </div>
</div>
