<div class="sb-markdown-editor">

  <div class="toolbox"></div>
  <div class="combined-editor" [class]="previewMode">
    <div class="row">
      <div class="editor"
           [class]="{'col-md-6': previewMode === previewModes.COMBINED, 'col-md-12': previewMode === previewModes.EDITOR}">
        <div class="editor-pane">
        <textarea class="form-control"
                  [(ngModel)]="markdown"
                  (ngModelChange)="markdownInputChanged()">
        </textarea>
          <div class="form-text">
            <span translate>scenario.edit.form.markdown</span>
            <br/>
            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown
              cheatsheet</a>
          </div>
        </div>
      </div>
      <div class="preview"
           [class]="{'col-md-6': previewMode === previewModes.COMBINED, 'col-md-12': previewMode === previewModes.PREVIEW}">
        <app-markdown-view [markdown]="markdownPreview"></app-markdown-view>
      </div>
    </div>
  </div>
</div>
