@import '../../../../styles/variables';

.sb-markdown-editor {

  .row {
    margin-bottom: 0;
  }

  .combined-editor {
    border: 1px solid $border-default-color;
  }

  textarea {
    width: 100%;
    height: 300px;
    border: 0;
    border-bottom: 1px dotted #999;
    border-radius: 0;
  }

  .combined-editor {

    &.editor {
      .preview {
        display: none;
      }
    }

    &.combined {
      .editor-pane {
        border-right: 1px solid $border-default-color;
      }
    }

    &.preview {
      .editor {
        display: none;
      }
    }
  }

  .form-text {
    padding: 3px;
  }
}
